rexray:
  logLevel: debug
  storageDrivers:
  - virtualbox
  volume:
    mount:
      preempt: false
virtualbox:
  endpoint: http://10.0.2.2:18083
  tls: false
  volumePath: "~/volumes"
  controllerName: SATA Controller
scaleio:
  endpoint: https://172.31.128.202/api
  apiVersion: "2.0"
  insecure: true
  userName: admin   
  password: Scaleio123
  systemName: cluster1
  protectionDomainName: pdomain            
  storagePoolName: pool1
  